{% load static %}

{% block client_exit_form %}

    <!-- Beginning Client Exit modal-->
        <!-- Modal -->
    <div class="modal fade " id="client-exit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         xmlns="http://www.w3.org/1999/html"
         >
        <form id="form_client_exit" class="form-horizontal" method="post">
        {% csrf_token %}
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-default" style="border-radius: 4px 4px 0px 0px;">
                    <button type="button" class="close" id="close__enrollment_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel"><span class="glyphicon glyphicon-log-out"></span> CLIENT EXIT FORM</h4>
                </div>
                <div class="modal-body">
                        <div style="margin: auto 15px;">
                             <div class="form-group">
                                 <label id="reason_for_exit_label" for="reason_for_exit" class="control-label">Reason to exit client</label>
                                 <select class="form-control" id="reason_for_exit" name="reason_for_exit" >
                                 </select>
                                 <label id="reason_for_exit_error" class="error text-danger" style="display: none;"></label>
                             </div>
                            <div id="reason_for_exit_other_section" class="form-group hidden">
                                 <label id="client_exit_activation_label" for="reason_for_exit_other" class="control-label">Comment</label>
                                 <textarea class="form-control" id="reason_for_exit_other" name="reason_for_exit" ></textarea>
                                 <label id="reason_for_other_exit_error" class="error text-danger" style="display: none;"></label>
                            </div>
                            <div class="form-group has-feedback">
                                 <label for="id_date_of_exit" class="control-label">Date:</label>
                                 <input type="text" class="form-control clear_value date" id="id_date_of_exit" name="id_date_of_exit" required placeholder="Select date of exit" style="cursor: pointer;"><span class="add-on"><i class="icon-th"></i></span></p>
                                 <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                 <label id="date_of_exit_error" class="error text-danger" style="display: none;"></label>
                            </div>
                            <div class="form-group" id="notes_section">
                                <span id="error-space" class="label error-space" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-hidden="true"> Cancel </button>
                    {% if current_user_belongs_to_same_ip_as_client %}
                    <button type="submit" id="btn_submit_exit_client_form" class="btn btn-sm btn-primary" > Exit Client </button>
                    {% endif %}
                  </div>
            </div>
          </div>
        </form>
    </div>
    <!-- End Client Exit modal-->

{% endblock %}