{% load static %}

<!-- Beginning modal-->
        <!-- Modal -->
    <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         xmlns="http://www.w3.org/1999/html">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New User</h4>
              </div>
              <div class="modal-body">
                <form id="user-entry-form" action="/admin/users/save/" method="post">
                    {% csrf_token %}
                    <!-- Hidden fields -->
                    <input type="number" class="form-control hidden" id="reg_ip_user_id" name="ip_user_id"/>
                    <!-- End Hidden fields -->

                    <div class="form-group">
                      <label for="implementing_partner">Implementing Partner</label>
                      {% if perms.auth.can_change_cross_ip_data %}
                      <select id="implementing_partner" name="implementing_partner" class="form-control validate-intervention-form-field" required>
                          <option value="">Select Option</option>
                          {% for ip in implementing_partners %}
                            <option value="{{ ip.name }}">{{ ip.name }}</option>
                          {% endfor %}
                       </select>
                      {% else %}
                      <select id="implementing_partner" name="implementing_partner" class="form-control validate-intervention-form-field" required>
                          <option value="{{ current_user_ip.name }}">{{ current_user_ip.name }}</option>
                      </select>
                      {% endif %}
                    </div>

                    <div class="form-group">
                      <label for="role">Role</label>
                      <select id="role" name="role" class="form-control validate-intervention-form-field" required>
                          <option value="">Select Option</option>
                          {% for role in roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                          {% endfor %}
                      </select>
                    </div>


                    <div class="form-group">
                        <label for="firstname" class="control-label">First Name</label>
                        <input type="text" class="form-control" id="reg_firstname" name="firstname" required minlength="2">
                    </div>

                    <div class="form-group" >
                        <label for="lastname" class="control-label">Last Name</label>
                        <input type="text" class="form-control" id="reg_lastname" name="lastname" required minlength="2">
                    </div>

                    <div class="form-group" >
                        <label for="emailaddress" class="control-label">Email Address</label>
                        <input type="email" required class="form-control" id="reg_emailaddress" name="emailaddress">
                    </div>

                    <div class="form-group" >
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="reg_username" name="username">
                    </div>
                    <div class="form-group">
                        <div id="processing-user-form" class="processing-indicator hidden" style="text-align: center; opacity: 0.4;">
                            <i class='fa fa-spinner fa-spin fa-3x'></i>
                            <p style="font-size: large">Processing...</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_cancel_user" type="button" class="btn btn-sm btn-default" data-dismiss="modal"> Cancel </button>
                        <button id="btn_save_user" type="submit" class="btn btn-sm btn-primary" > Save </button>
                    </div>
                </form>
              </div>

            </div>
          </div>
    </div>
    <!-- End modal-->
