{% load static %}

<!DOCTYPE html>
<html lang="en" class="dp-full-height">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=' icon' href='{% static 'images/logo.png' %}' type='image/png' >
        <title>{{ page_title }}</title>

        <link type="text/css" rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.min.css' %}">

        <link type="text/css" rel="stylesheet" href="{% static 'vendor/jquery-ui-1.11.4/jquery-ui.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}">


        <script src="{% static 'vendor/jquery-1.12/jquery.js' %}"></script>

        {% block pageJs %}{% endblock %}
    </head>
    <body>
        <input type="hidden" id="is_superuser" value="{{ user.is_superuser }}">

        <div class="wrapper">
            {% include 'includes/header.html' %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            {% include 'includes/footer.html' %}
        </div>


        <script src="{% static 'vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
        <script src="{% static  'js/site.js'%}"></script>
    </body>
</html>