{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/enrolment_new.html' %}
    {% include 'includes/confirn_modal.html' %}
    {% include 'includes/error_modal.html' %}
    {% include 'includes/advanced_search_modal.html' %}
    <div style="min-height: 40em;">
        <div class="statusBox">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER: {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>DREAMS Client List</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <form id="clients_search_form" class="" action="/clients" method="post">
                        {% csrf_token %}
                        <!-- Hidden fields -->
                        <input class="hidden" name="is_advanced_search" id="is_advanced_search" value="{% if is_advanced_search == 'False' %}False{% else %}True{% endif %}">

                        <div class="form-group form-inline has-feedback">
                            <input id="search-client" type="text" name="search_client_term"
                                   class="form-control filter-enrollment" value="{{ search_client_term }}"
                                   placeholder="Enter DREAMS ID or Client's Full Name" style="width: 400px;">
                            <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 2px;"><span
                                    class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </div>
                        <!--
                        <div class="form-group">
                            <span id="advanced_filter_text_span" role="button" data-toggle="modal" data-target="#advanced-search-modal">Advanced Filters</span>
                        </div>
                        -->
                        <span id="search-expand-collapse-glyphicon" class="has-feedback glyphicon glyphicon-plus" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></span>
                        <span id="advanced_filter_text_span" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-weight: bold;">Show Advanced Search Filters</span>
                        <div class="custom">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                                <div class="panel">
                                    <div id="collapseOne" class="panel-collapse {% if is_advanced_search == 'False' %}collapse{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">
                                          <div class="form-group form-inline ">
                                              <label for="basic-url" class="col-sm-2" style="margin-top: 8px;text-align: right;"> Enrollment Date From:</label>
                                              <input type="text" class="form-control input-sm col-sm-4 clear_value" name="doe_start_filter" id="doe_start_filter" value="{{ start_date_filter }}" placeholder="Date" style="cursor: pointer;">
                                              <label for="basic-url" class="col-sm-1" style="margin-top: 8px;text-align: center;">To</label>
                                              <input type="text" class="form-control input-sm col-sm-4 clear_value" name="doe_end_filter" id="doe_end_filter" value="{{ end_date_filter }}" placeholder="Date" style="cursor: pointer;">
                                          </div><br><br>
                                          <div class="form-group form-inline">
                                              <label for="county_filter" class="col-sm-2" style="margin-top: 8px;text-align: right;"> County:</label>
                                              <select id="county_filter" name="county" class="form-control clear_value id_county_of_residence">
                                                    <option value="">Select County</option>
                                                    {% for county in counties %}
                                                        <option data-county_of_residence_id="{{ county.id }}" value="{{ county.id }}" {% if county.id|stringformat:"s" == county_filter %}selected="selected"{% endif %}>{{ county.name }}</option>
                                                    {% endfor %}
                                              </select>
                                          </div>
                                          <div class="form-group form-inline">
                                              <label for="sub_county_filter" class="col-sm-2" style="margin-top: 8px;text-align: right;"> Sub county:</label>
                                              <select id="sub_county_filter" name="sub_county" class="form-control clear_value" >
                                                    <option value="">Select Sub-County</option>
                                                    {% for sub_county in sub_counties %}
                                                    <option value="{{ sub_county.id }}" data-sub_county_id="{{ sub_county.id }}" {% if sub_county.id|stringformat:"s" == sub_county_filter %}selected="selected"{% endif %}>{{ sub_county.name }}</option>
                                                    {% endfor %}
                                              </select>
                                          </div>
                                          <div class="form-group form-inline">
                                              <label for="ward_filter" class="col-sm-2" style="margin-top: 8px;text-align: right;" > Ward:</label>
                                              <select id="ward_filter" name="ward" class="form-control clear_value" >
                                                    <option value="">Select Ward</option>
                                                    {% for ward in wards %}
                                                    <option value="{{ ward.id }}" {% if ward.id|stringformat:"s" == ward_filter %}selected="selected"{% endif %}>{{ ward.name }}</option>
                                                    {% endfor %}

                                              </select>
                                          </div>
                                        <div class="form-group form-inline">
                                            <label for="ward_filter" class="col-sm-2" style="margin-top: 8px;text-align: right;"> </label>
                                            <button type="submit" class=" form-control btn btn-primary btn-sm" style="margin-top: 2px;"><span
                                                    class="glyphicon glyphicon-search"></span> Advanced Search
                                            </button>
                                            <button type="button" id="btn_reset_advanced_search" class=" form-control btn btn-default btn-sm"  style="margin-top: 2px;">
                                                Reset Advanced Search Filters
                                            </button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %}
                    class=" dp-action-alert fade in alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} "{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class=" alert hidden dp-action-alert fade in" id="client_actions_alert" role="alert"
             style="margin-bottom: 15px;"></div>

        <div class="panel panel-default" style="padding-left: 0px; margin-left: 0px;">
            <div class="panel-body" style="margin: 0px;padding: 0px;">
                <table class="table table-striped table-hover" id="dreams-client-table"
                       style="background-color: transparent;margin: 0px;">
                    <thead class="dp-listing-table-head" style="background-color: #333333;color: #FFFFFF">
                    <th>DREAMS ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th class="actions-col">Actions</th>

                    </thead>
                    <tbody id="dp-patient-list-body">
                    {% if client_paginator %}
                        {% for client in client_paginator.object_list %}
                            <tr id="clients_row_{{ client.id }}" style="cursor: pointer;">
                                <td>{{ client.dreams_id }}</td>
                                <td>{{ client.get_full_name }}</td>
                                <td>{{ client.date_of_birth }}</td>
                                <td id="client_" + {{ client.id }} class="actions-col">
                                    <button type="button" class="btn btn-sm btn-default"
                                            onclick="window.location='/client_baseline_info?client_id={{ client.id }}&search_client_term={{ search_client_term }}'"
                                            style="cursor: pointer;"> Enrollment Data
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default"
                                            onclick="window.location='/client?client_id={{ client.id }}&search_client_term={{ search_client_term }}'"
                                            style="cursor: pointer;"> Service Uptake
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="table-message">No clients shown. Search to find clients.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if client_paginator %}
            <div class="pagination fit-item">
            <span class="step-links">
                {% if client_paginator.has_previous %}
                    <a href="?page={{ client_paginator.previous_page_number }}&search_client_term={{ search_client_term }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ client_paginator.number }} of {{ client_paginator.paginator.num_pages }}
                </span>

                {% if client_paginator.has_next %}
                    <a href="?page={{ client_paginator.next_page_number }}&search_client_term={{ search_client_term }}">next</a>
                {% endif %}
            </span>
                <br>
            </div>
        {% endif %}
        <div>
            <button id="btn_show_enrollment_modal" class="btn btn-primary {% if not perms.DreamsApp.add_client %} hidden {% endif %}" data-toggle="modal" data-target="#enrollment-modal" data-toggle="tooltip" title="New Enrollment"><i class="glyphicon glyphicon-plus text-default"></i>
                New Enrollment
            </button>
        </div>

        <br/><br/><br/><br/><br/><br/><br/><br/>
        {% if page == 'clients' %}
            <script type="text/javascript">
                if(!$('#collapseOne').hasClass('collapse')){
                    // Not collapsed
                    $('#search-expand-collapse-glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus')
                    $('#advanced_filter_text_span').html('Hide Advanced Search Filters')
                    // Set advanced search
                    $('#is_advanced_search').val('True')
                }
                else{
                   $('#search-expand-collapse-glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus')
                    $('#advanced_filter_text_span').html('Show Advanced Search Filters')
                    // Handle reset of advanced filters
                    $('#is_advanced_search').val('False')
                }
            </script>
        {% endif %}

        {% if messages %}
            <script>
            var timeout = $(".dp-action-alert").hasClass('alert-danger') ? 15000 : 5000;
            setTimeout(function(){
            $(".dp-action-alert").removeClass('alert-info').removeClass('alert-success').removeClass('alert-danger')
                .fadeOut('slow')
                .text("")
            }, timeout);
            </script>
        {% endif %}
    </div>
{% endblock %}