{% extends 'base.html' %}
{% load static %}

{% block pageJs %}
    <script src="{% static 'js/raw_export.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper-container">
        <div class="statusBox"  style="">
            <div>
                <h4>{% if user.implementingpartneruser != None %}IMPLEMENTING PARTNER:
                    {{ user.implementingpartneruser.implementing_partner.name }}{% endif %}</h4>
                <h6>{{ page_title }}&nbsp;</h6>
            </div>
            <div class="floatRightLinks">
                <div class="rightItem">
                    <span class="text-info"><span class="glyphicon glyphicon-info-sign"></span>
                        {% if perms.can_view_cross_ip_data %}
                            Select Implementing Partner/Partners to Export Data.
                         {% else %}
                            Select your Implementing Partner to Export Data.
                          {% endif %}
                    </span>
                </div>
            </div>
        </div>

        <div class=" alert hidden dp-action-alert fade in" id="ip_selection_alert" role="alert" style="margin-bottom: 10px;"></div>

        <div class="fit-item report-export-form-div">
            <form id="frm_download-report" method="post" class="" action="/download-enrollment-report/" target="_blank">
                {% csrf_token %}
                <div class="form-inline">
                        <div class="form-group has-feedback">
                            <label for="from_date" class="control-label">From enrollment date:</label>
                            <input type="text" class="form-control clear_value" id="from_date"
                                   name="from_date" style="cursor: pointer;"><span class="add-on"><i
                                class="icon-th"></i></span></p>
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            <span id="spn_date_of_birth" class="clear_span"></span>
                        </div>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
                        <div class="form-group has-feedback">
                            <label for="to_date" class="control-label">To Enrollment date:</label>
                            <input type="text" class="form-control clear_value" id="to_date"
                                   name="to_date" style="cursor: pointer;"><span class="add-on"><i
                                class="icon-th"></i></span></p>
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            <span id="spn_date_of_birth" class="clear_span"></span>
                        </div>
                    </div><br/><br/>
                <div class="form-group">
                    <label>Select Implementing Partner</label>
                    <select id="i_p" name="ips" {% if ips.count >  1 %}multiple {% endif %} class="form-control" size="{{ ips.count }}">
                        {%for ip in ips%}
                            <option value= "{{ ip.id }}">{{ ip }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="county_of_residence">County</label>
                    <select id="id_county_of_residence" name="county_of_residence" class="form-control clear_value">
                        <option value="">Select County</option>
                        {% for county in counties %}
                            <option data-county_of_residence_id="{{ county.id }}" value="{{ county.id }}">{{ county.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                 <div class="form-group">
                    <label for="sub_county">Sub-County</label>
                    <select id="id_sub_county" name="sub_county" class="form-control clear_value" >
                        <option value="">Select Sub-County</option>
                        {% for sub_county in sub_counties %}
                            <option value="{{ sub_county.id }}" data-sub_county_id="{{ sub_county.id }}" data-county_id="{{ sub_county.county.id }}">{{ sub_county.name }}</option>
                        {% endfor %}
                    </select>
                 </div>

                 <div class="form-group">
                    <label for="ward">Ward</label>
                    <select id="id_ward" name="ward" class="form-control clear_value" >
                        <option value="">Select Ward</option>
                        {% for ward in wards %}
                            <option value="{{ ward.code }}">{{ ward.name }}</option>
                        {% endfor %}
                    </select>
                 </div>

                <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="button" id="btn_download_report" value="Download Report">
                </div>
            </form>
        </div>
    </div>
{% endblock %}