{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div style="min-height: 60em;">
        <div class="login-wrapper">
            <div class="div-login-form">
                <div class="credentials">
                    <form action="/" method="post" id="dp-login-form" class="form-horizontal" >
                        {% csrf_token %}
                      <div class="text-subheader">
                          Sign in
                      </div>
                      <div class="text-body">
                          Use your DREAMS username and password
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                      </div>
                      <div class="form-group">
                          <span class="text-danger invalid-password-span hidden">Invalid username or password</span>
                      </div>
                      <div class="form-group" style="text-align: left;">
                        <button type="submit" class="form-control" class="btn btn-default ">Log in</button>
                      </div>
                        <div class="form-group">
                            <a href="#" class="option" id="forgot_password">I forgot my password</a>    |   <a href="https://dreamske.on.spiceworks.com/portal" class="option" target="_blank">Help Desk</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

